:root{
    --sidebar-bgcolor:#2390cf;
    --sidebar-textcolor:white;
    --icon-color:#2390cf;
    --mainbody-color:#c2ddea;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    min-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "sidebar  nav"
    "sidebar mainbody";
}
/* sidebar */
.sidebar{
    grid-area: sidebar;
    background-color: var(--sidebar-bgcolor);
    color: var(--sidebar-textcolor);
    font-size: 1.5rem;
    padding: 2rem;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    margin: 30px 20px;
    display: flex;
    justify-content: flex-start;
}

.sidebar ul li p{
    margin-left: 20px;
}

.sidebar h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar h3 p{
    margin-left: 20px;
}

.secondlist{
    margin-top: 70px;
}
/* navbar */
.navbar{
    grid-area: nav;
    box-shadow: 0 5px;
}

.navbar .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
}

.navbar .search button{
    background: none;
   border: none;
   cursor: pointer;
   height: 45px;
}

.navbar .search{
    display: flex;
}

.navbar .search #search{
    padding: 5px 275px;
    border-radius: 30px;
    border: 1px solid black;
    margin-left: 15px;
}

.navbar .left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .left img{
    width: 150px;
    height: 100px;
}
.navbar .bottom{
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    display: flex;
    align-items: center;
}
.navbar .bottom img{
    width: 150px;
    height: 100px;
}

.navbar .bottom ul{
    display: flex;
    list-style: none;
}

.navbar .bottom ul li{
    margin: 0 20px;
}

.navbar .bottom ul li button{
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background-color: var(--icon-color);
    color: white;
}
/* main */
.mainbody{
    grid-area: mainbody;
    background-color: var(--mainbody-color); 
    padding: 50px;
}

.mainbody .head{
    margin: 0 0 20px 10px;
}

.mainbody .flex{
    display: flex;
}

.mainbody .left{
    width: 70%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}

.mainbody .left .blocks{
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: azure;
}

.mainbody .left .blocks .icon{
    align-self: flex-end;
}

.mainbody .left .blocks .icon svg{
    margin: 8px;
    cursor: pointer;
}
.mainbody .left .blocks .icon svg:hover{
    color: rgba(230, 211, 0, .4);
}

/* mainbody right */

.mainbody .right{
    margin-left:35px ;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.mainbody .right h3{
    margin-top: -40px;
}

.mainbody .right .annous{
    background-color: azure;
    padding: 40px;
    border-radius: 30px;
    margin-top: 20px;
}

.mainbody .right .box{
    background-color: azure;
    border-radius: 30px;
    padding: 30px;
}

.mainbody .right .tren img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.mainbody .right .tren .name{
    margin-left: 20px;
}

.mainbody .right .items{
    display: flex;
    align-items: center;
}

.mainbody .right .margin{
    margin-top: 30px;
}
